    .handle-counter {
        overflow: hidden;
    }

    .handle-counter .counter-minus,
    .handle-counter .counter-plus,
    .handle-counter input {
        float: left;
        text-align: center;
    }

    .handle-counter .counter-minus,
    .handle-counter .counter-plus {
        text-align: center;
    }

    .handle-counter input {
        width: 70px;
        border-width: 1px;
        border-left: none;
        border-right: none;
    }
